@import 'tailwindcss';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');

:root {
  --my-sans: 'Pretendard Variable', 'Pretendard', -apple-system, sans-serif;
  --my-ivory: #f4f1ea;
}

@theme {
  --color-novel-dark: #2c3e50;
  --font-sans: var(--my-sans);
  --color-ivory: var(--my-ivory);
}

@layer base {
  html,
  body {
    font-family: var(--font-sans);
    @apply bg-ivory text-gray-900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
